._button_button_primary {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid;
  border-color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

._button_button_primary:hover {
  transform: scale(0.8);
}
