.skills .h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.skills .h2::before {
  content: "#";
  color: var(--primary);
}

.skills .h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}
*::before,
*::after {
  box-sizing: border-box;
}

.skills .h3 {
  font-weight: 400;
  font-size: 24px;
  padding: 8px;
}

.skills .h4 {
  font-size: 20px;
  text-decoration: underline;
}

.skills {
  width: 100%;
}

.skills_content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.skills_list {
  column-gap: 16px;
  column-count: 3;
}

.skill-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 1rem;
}

.skill_block_name {
  font-weight: 800;
  padding: 8px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: var(--gray);
}

.skill_block_list {
  padding: 8px;
  gap: 8px;
  justify-content: start;
  color: var(--white);
  border: 1px solid;
  border-color: var(--gray);
}

.skills ul {
  list-style: none;
}
