.projects .h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.projects .h2::before {
  content: "#";
  color: var(--primary);
}

.projects .h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}
*::before,
*::after {
  box-sizing: border-box;
}

.projects .h3 {
  font-weight: 400;
  font-size: 24px;
  padding: 8px;
}

.projects .h4 {
  font-size: 20px;
  text-decoration: underline;
}

.projects_header {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 48px;
}

.projects_link {
  display: flex;
  gap: 8px;
  text-decoration: underline;
}

.project_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 48px;
  /* height: 480px; */
}

.project {
  border: 1px solid;
  border-color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.project_content {
  padding: 16px;
}

.project_techs {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px;
  border-bottom: 2px var(--gray);
  border-top: 2px solid var(--gray);
}

.projects ul {
  list-style: none;
}

.project_description {
  color: var(--gray);
  margin-bottom: auto;
}

p {
  padding: 8px;
}

.project_image {
  padding: 4px;
  border-bottom: 1px solid;
  border-color: var(--gray);
  aspect-ratio: 16 / 9;
}

.projects a {
  margin-top: auto;
  align-self: flex-start;
}

.projects img {
  max-width: 100%;
  display: block;
}
