h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "#";
  color: var(--primary);
}

h2::after {
  content: "";
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}
*::before,
*::after {
  box-sizing: border-box;
}

.projectsExpanded_h4 {
  font-size: 20px;
  text-decoration: underline;
  color: var(--primary);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.projectsExpanded_container {
  width: 80%;
  gap: 30px;
}

.projectExpanded_description {
  color: var(--white);
  padding: 0px;
}

.projectsExpanded_cover {
  display: flex;

  padding-top: 20px;
  padding-bottom: 20px;
}

.projectsExpanded_content {
  padding: 10px;
  font-weight: 400;
  gap: 24px;
}
.ProjectsExpanded_purpose {
  padding: 0px;
}

.projectsExpanded p {
  padding: left 4px;
  margin-top: 20px;
}

.currentProjectContainer {
  padding-top: 20px;
}

.projectExpanded div > * {
  margin-bottom: 24px;
}
