.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
}

.h2::before {
  content: "#";
  color: var(--primary);
}
*::before,
*::after {
  box-sizing: border-box;
}

.h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

h4 {
  font-size: 18px;
  padding: 6px;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.projects_link {
  display: flex;
  flex-direction: wrap;
  gap: 8px;
  text-decoration: underline;
}

.projects a {
  color: inherit;
}

.project_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 48px;
  height: 480px;
}

.project {
  border: 1px solid;
  border-color: var(--gray);
}
.project_content {
  padding: 16px;
}

.project_techs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  color: var(--gray);
  padding: 8px;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.projectExpanded_description {
  color: var(--gray);
  padding: 4px;
}

p {
  padding: 8px;
}

a {
  margin-left: 8px;
  padding: 4px;
}

.projectsExpanded_cover {
  max-width: 80%;
  display: flex;
  padding-left: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
}
