.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
  padding-bottom: 24px;
}

.h2::before {
  content: "#";
  color: var(--primary);
}

.h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

h4 {
  font-size: 20px;
  text-decoration: underline;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.currentProjectContainer {
  padding-bottom: 10px;
}
.techSkillsContainer {
  padding: 10px;
  padding-left: 6px;
}

.projectExpanded_description {
  color: var(--gray);
  padding: 0px;
}

.projectsExpanded_content {
  padding: 0px;
  padding-left: 2px;
  font-weight: 400;
}

.projectsExpanded_h4 {
  padding: 0px;
  padding-top: 10px;
}

.projectsExpanded_cover {
  max-width: 80%;
  display: flex;

  padding-top: 14px;
  padding-bottom: 14px;
}
