.contacts {
  width: 100%;
}

.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
}

.h2::before {
  content: "# ";
  color: var(--primary);
}

.h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

.contacts_content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 48px;
}

.contacts_description {
  color: var(--gray);
  max-width: 600px;
}

.contacts_media {
  border: 1px solid;
  border-color: var(--gray);
  padding: 16px;
}

.contacts_title {
  font-weight: 600px;
}

.contacts_list {
  margin-top: 16px;
}

.contact {
  display: flex;
  gap: 8px;
  color: var(--gray);
  align-items: center;
  margin-top: 8px;
}

a .contact {
  text-decoration: none;
}
