.header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 8px;
}
.container {
  display: flex;
  justify-content: end;
}

header.innerHeader {
  display: flex;
  flex-direction: row;
}

header ul.navItems {
  display: flex;
}

.logoImage {
  width: 24px;
  height: 24px;
}

.media_icon {
  position: left 2rem;
  height: 50px;
  width: 50px;
}
