.header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 8px;
  position: fixed;
}
.container {
}

.logoImage {
  width: 16px;
  height: 24px;
}

header.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
}

.media_header {
}
.media_line {
}

.media_icon {
  height: 50px;
  width: 50px;
  background-color: green;
}

.media_icon_false {
  height: 50px;
  width: 50px;
  background-color: red;
}
