.footer {
  width: 100%;
  border-top: 1px solid;
  border-color: var(--grey);
  padding-top: 32px;
  margin-bottom: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 48px;
}

.footer_header {
  display: flex;
  gap: 32px;
}

.footer_email {
  color: var(--grey);
}

.footer_description {
  margin-top: 16px;
}

.footer_title {
  font-weight: 500;
  font-size: 24px;
}

.footer_list {
  display: flex;
  gap: 8px;
}

.footer_copyright {
  color: var(--gray);
  text-align: center;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo_name {
  font-weight: 700;
}

.logo_img {
  aspect-ratio: 1;
  width: 16px;
}

.media {
  width: 32px;
  aspect-ratio: 1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
