.footer {
  width: 100%;
  border-top: 1px solid var(--grey);
  padding-top: 18px;
  margin-bottom: 16px;
  height: 100px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.logoImage {
  max-height: 100%;
  width: auto;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_email {
  color: var(--grey);
  margin-bottom: 8px;
}

.footer_copyright {
  color: var(--gray);
  text-align: center;
}

.footer_media {
  display: flex;
  align-items: center;
}

.footer_list {
  display: flex;
  gap: 8px;
}

.media {
  width: 32px;
  aspect-ratio: 1;
}

.footer img,
picture {
  max-width: 100%;
  height: auto;
}

.footer img:hover {
  transform: scale(1.5);
}

a {
  text-decoration: none;
  color: inherit;
}
