.about {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about_content {
  flex: 1 1 0;
  min-width: 300px;
}

.about_text {
  margin-bottom: 32px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about_description {
  color: var(--white);
}

.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.h2::before {
  content: "#";
  color: var(--primary);
}

.h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}
